  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .cart-box img {
    margin: 0 16px;
  }

  .cart-box #cart-icon {
    height: 40px;
    margin: 0 16px;
  }

  .cart-box #cart-icon .fa-shopping-cart {
    font-size: 25px;
  }

  .cart-box #cart-icon:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
.header {
  width: 100%;
  background: #efefef;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}

  .header .pr-search {
    width: 320px;
  }

  .pr-container {
    max-width: 1248px;
    margin: 0 auto;
  }

  .header .topnav {
    max-width: 1084px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .has-search {
    position: relative;
  }
  .has-search .form-control {
    padding-right: 2.375rem;
    width: 400px;
}

.has-search .form-control-feedback {
    position: absolute;
    right: 0;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }
